<html>

<head>
    <style>
        .header img {
            float: left;
            width: 300px;
            height: 300px;
            background: #555;
            border-radius: 50%;
        }

        .header h1 {
            position: relative;
            top: 18px;
            left: 10px;
        }
    </style>
</head>

<body>
    <div class="header">
        <img src="<%= url %>" height="300" width="400" />
        <h1><%= username %></h1>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <hr>
      <h3>My recipe book</h3>
</body>

</html>