<html>

<head>
    <style>
        ul {
            background: grey;
            padding: 20px;
        }

        ul li {
            background: #cce5ff;
            margin: 5px;
        }
    </style>
</head>

<body>
    <ul>
        <% data.forEach(function(user){ %>
        <li>
            Meal Name :<%= user.strMeal %> <br>Meal Area : <%= user.strArea %>
            <br>category: <%= user.strCategory %><br> Instructions :<br> <%= user.strInstructions %>
            <br>
        </li>
        <% }) %>
    </ul>
</body>

</html>